<div class="container">
<!--   <h2 mat-dialog-title>Sicuro di voler eliminare il seguente utente dal sistema?</h2>
    <div mat-dialog-content>
      <b>Nome:</b> {{data.nome}}
      <p></p>
      <b>Cognome:</b> {{data.cognome}}
      <p></p>
      <b>Username:</b> {{data.username}}
      <p></p>
      <b>Dominio:</b> {{data.dominio}}
      <p></p>
    </div>-->

    <div mat-dialog-content>
        Sei sicuro di voler rimuovere il controllore <b>{{data.controllore.nome}} {{data.controllore.cognome}}</b> <br>
        dalla stazione forestale <b>{{data.stazioneForestale.descrIT}}</b>?
      </div>
  

    <div mat-dialog-actions>
      <button mat-button [mat-dialog-close]="1" (click)="confirmDelete()">Delete</button>
      <button mat-button (click)="onNoClick()" tabindex="-1">Cancel</button>
    </div>
  </div>
