<div class="container">
  <h3 mat-dialog-title>Nuova Checklist Template</h3>

  <form class="mat-dialog-content" (ngSubmit)="submit" #formControl="ngForm">

      <div class="form">
        <mat-form-field color="accent">
          <input style="display: none" [matDatepicker]="dpAnno">
          <input matInput #input class="form-control" [(ngModel)]="data.anno" placeholder="Anno" name="anno" required readonly>
          <mat-datepicker #dpAnno startView="multi-year" (yearSelected)="setAnno($event, dpAnno)"></mat-datepicker>
          <mat-datepicker-toggle matSuffix [for]="dpAnno"></mat-datepicker-toggle>
          <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>
      
      <div class="form">
        <mat-form-field color="accent">
          <input style="display: none" [matDatepicker]="dpCampagna">
          <input matInput #input class="form-control" [(ngModel)]="data.campagna" placeholder="Campagna" name="campagna" required readonly>
          <mat-datepicker #dpCampagna startView="multi-year" (yearSelected)="setCampagna($event, dpCampagna)">
          </mat-datepicker>
          <mat-datepicker-toggle matSuffix [for]="dpCampagna"></mat-datepicker-toggle>
          <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>

      <div class="form">
        <mat-form-field color="accent">
          <mat-select [(value)]="selectedTipoModelloIT" matInput #input class="form-control" placeholder="Tipo Modello ITA" name="tipoModelloIT" required>
            <mat-option placeholder="Tipo Modello ITA" required
              *ngFor="let tipoModelloIT of tipiModelliIT" [value]="tipoModelloIT"> {{tipoModelloIT}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>
      
    <div class="form">
      <mat-form-field color="accent">
        <mat-select [(value)]="selectedTipoModelloDE" matInput #input class="form-control" placeholder="Tipo Modello DEU" name="tipoModelloDE" required>
          <mat-option placeholder="Tipo Modello DEU" required
            *ngFor="let tipoModelloDE of tipiModelliDE" [value]="tipoModelloDE"> {{tipoModelloDE}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field color="accent">
        <input matInput #input class="form-control" [(ngModel)]="data.nomeIT" placeholder="Nome ITA" name="nomeIT"
          required>
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field color="accent">
        <input matInput #input class="form-control" [(ngModel)]="data.nomeDE" placeholder="Nome DEU" name="nomeDE"
          required>
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field color="accent">
        <input matInput #input class="form-control" [(ngModel)]="data.descrIT" placeholder="Descrizione ITA" name="descrIT"
          required>
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field color="accent">
        <input matInput #input class="form-control" [(ngModel)]="data.descrDE" placeholder="Descrizione DEU" name="descrDE"
          required>
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>

    <div mat-dialog-actions>
      <button mat-button [type]="submit" [disabled]="!formControl.valid" [mat-dialog-close]="1"
        (click)="confirmAdd()">Save</button>
      <button mat-button (click)="onNoClick()" tabindex="-1">Cancel</button>
    </div>
  </form>
</div>